*{
    box-sizing: border-box;
    font-family: 微軟正黑體;
}
html, body{
    margin: 0;
    padding: 0;
}

// 製作螢幕寬度的class//
.container-normal{
    width: 90%;
    max-width: 1680px;
    margin: auto;
}
.container-full{
    width: 100%;
}
//navbar---------------------------------
nav{
    width: 90%;
    height: 54px;
    // background-color: #aaa;
    margin: auto;
    display:flex;
    align-items: center;
    //hamburger-list//----------------------
    .ham-menu{
        display:none;
        .check-box{
            display:none;
        }
        .ham-btn{
            display:block;
            width: 32px;
            height: 32px;
            position: relative;
            cursor: pointer;
            i{
                position: absolute;
                left:50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
            i.fa-xmark{
                display:none;
            }
        }
        .mobile-menu{
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: #f2f2f2;
            width: 100%;
            position: absolute;
            left:0;
            top:54px;
            border-bottom: 1px solid #262626;
            z-index: 99;
            li{
                margin: 1px;
                font-weight: 400;
                font-size: 15px;
                padding: 14px 24px 15px 15px;
                border-bottom: 2px solid #eee;
                cursor: pointer;
            }
            li:focus{
                border: 1px dashed #000;
            }
            .chevron-btn{
                li{
                    i{
                        float:right;
                    }
                    i.fa-chevron-up{
                        display:none;
                    }
                }
            }
            .drop-down{
                display:none;
            }
        }
    }
    @media (max-width:860px){
        .ham-menu{
            display:block;
            #ham-switch:checked+.ham-btn i:nth-of-type(2){
                display:block;
            }
            #ham-switch:checked+.ham-btn i:nth-of-type(1){
                display:none;
            }
            #ham-switch:checked~.mobile-menu{
                display:block;
            }
            #ham-switch:not(:checked)~.mobile-menu{
                display:none;
            }
            .mobile-menu{
                .chevron-switch{
                    display: none;
                }
                .drop-down{
                    list-style: none;
                }
                #chevron-switch-soft:checked~.drop-down:nth-of-type(1){
                    display:block;
                }
                #chevron-switch-device:checked~.drop-down:nth-of-type(2){
                    display:block;
                }
                #chevron-switch-entertainment:checked~.drop-down:nth-of-type(3){
                    display:block;
                }
                #chevron-switch-business:checked~.drop-down:nth-of-type(4){
                    display:block;
                }
                #chevron-switch-developer:checked~.drop-down:nth-of-type(5){
                    display:block;
                }
                #chevron-switch-other:checked~.drop-down:nth-of-type(6){
                    display:block;
                }

                .chevron-switch:not(:checked)~.drop-down{
                    display:none;
                }
                .chevron-switch:checked+.chevron-btn li i.fa-chevron-down{
                    display:none;
                }
                .chevron-switch:checked+.chevron-btn li i.fa-chevron-up{
                    display:block;
                }
            }
            
        }
    }  
    //hamburger-list-end--------------------


    .nav-logo{
        width: 108px;
        height: 23px;
        background-image: url(../img/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 20px;
        padding: 20px;
    }
    .nav-logo:focus{
        border: 1px dashed #000;
    }
    @media (max-width:860px) {
        .nav-logo{
            position: absolute;
            left:50%;
            transform: translateX(-50%);
        }
    }
    .nav-pcmenu{
        display: flex;
        align-items: center;
        font-size: 13px;
        .nav-btn{
            margin-right: 20px;
            padding: 16px 8px 10px;
            position: relative;
            cursor:pointer;
        }
        .nav-btn:focus{
            border: 1px dashed #000;
        }
        .nav-btn:hover{
            text-decoration: underline;
	        text-underline-offset: 5px;
	        text-decoration-thickness: 2px;
        }
    }
    @media (max-width:1012px) {
        .nav-pcmenu{
            .nav-btn{
                margin-right: 10px;
            }
        }
    }
    @media (max-width:945px) {
        .nav-pcmenu{
            .nav-btn{
                margin-right: 0px;
            }
        }
    }
    @media (max-width:945px) {
        .nav-pcmenu{
            .nav-btn{
                padding: 10px 5px;
            }
        }
    }
    
    @media (max-width:860px) {
        .nav-pcmenu{
            display:none;
        }
    }
    .nav-func{
        flex-grow:1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 13px;
        .more-btn{
            cursor: pointer;
            padding: 15px 20px;
            .drop-down-more{
                display: none;
                background-color: #eee;
                max-width: 1230px;
                width: 95%;
                position: absolute;
                left:50%;
                top: 41px;
                z-index: 20;
                list-style: none;
                transform: translateX(-50%);
                padding: 0px;
                border-bottom: 2px solid #000;
                .menu-list{
                    display:flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    .group{
                        width: 200px;
                        display:flex;
                        flex-direction: column;
                        padding-bottom: 10px;
                        .group-name{
                            color:#000;
                            padding: 18px 0px 18px 24px;
                            font-size: 13px;
                            font-weight: bold;
                        }
                        li{
                            padding: 12px 0px 12px 24px;
                            list-style: none;
                            font-size: 13px;
                        }
                    }

                }
                .map{
                    width: 100%;
                    font-size: 13px;
                    background-color: #e6e6e6;
                    padding: 18px 24px;
                    text-align: center;
                    color: rgba(0,0,0,.8);
                    span{
                        margin-right: 10px;
                    }
                }
            }
        }
        .more-btn:focus{
            border: 1px dashed;
        }
        .more-btn:hover{
            text-decoration: underline;
            text-underline-offset:5px;
            text-decoration-thickness:2px;
        }
        .nav-btn{
            padding: 10px 12px;
            cursor: pointer;
            i{
                font-size: 16px;
            }
        }
        .nav-btn:focus{
            border:1px dashed #000;
        }
        .shoppingcart{
            margin-left: 50px;
        }
        .shoppingcart:hover,.search-btn:hover,.login-btn:hover{
            text-decoration: underline;
            text-underline-offset:5px;
            text-decoration-thickness:2px;
        }
        
        .more-switch:checked+.more-btn .drop-down-more{
            display:block;
        }

    }
    @media (max-width:1400px) {
        .nav-func{
            .nav-btn{
                .nav-btn-hidden{
                    display: none;
                }
            }
            .shoppingcart{
                margin-left: 20px;
            }
        }
    }
    @media (max-width:860px) {
        .nav-func{
            display: flex;
            justify-content: flex-end;
            .more-btn{
                display:none;
            }
            .search-btn{
                flex-grow: 1;
            }
        }
    }
}
@media (max-width:860px) {
    nav{
        width: 100%;
        padding: 0px 20px;
    }
}
//hamburger-list-------------------------

//header---------------------------------
header{
    width: 100%;
    .swiper-pic{
        height: 100%;
        position: relative;
        .swiper-box{
            position: absolute;
            left: 60%;
            top: 30%;
            width: 450px;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h1{
                font-size: 32px;
                font-weight: 600;
                margin: 0;
                margin-bottom: 8px;
            }
            p{
                text-align: left;
                margin-bottom: 24px;
                font-size: 16px;
            }
            .btn{
                width: 90px;
                height: 40px;
                font-size: 16px;
                font-weight: bold;
                background-color:#0067b8;
                color: #fff;
                text-align: center;
                line-height: 40px;
                cursor: pointer;
            }
            .btn:hover{
                background-color:darken(#0067b8,5%);
                box-shadow: 0 1px 0px 0 rgba(0,0,0,.5);
            }
        }
        .swiper-box-2{
            left:8%;
            top:30%;
            .link-group{
                display: flex;
                flex-direction: row;
                align-items: center;
                .btn-2{
                    width: 120px;
                    margin-right: 24px;
                }
                a{
                    text-decoration: none;
                    color:#000;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
    @media (max-width:1085px) {
        .swiper-pic{
            .swiper-box{
                height: unset;
                background-color: #fff;
                left:50%;
                top:60%;
                transform: translateX(-50%);
                width: 95%;
                padding: 48px;
                box-shadow: 1px 1px 4px #aaa;
                h1{
                    font-size: 24px;
                    margin: 0px 0px 12px;
                }
                p{
                    margin: 0px 0px 24px;
                }
            }         
        }
    }
    @media (max-width:860px) {
        .swiper-pic{
            .swiper-box{
                width: 100%;
                top:65%;
                padding: 24px 20px 16px;
            }         
        }
    }
    @media (max-width:720px) {
        .swiper-pic{
            display: flex;
            flex-direction: column;
            .swiper-box{
                width: 100%;
                padding: 24px 20px 16px;
            }         
        }
    }
    @media (max-width:540px) {
        .swiper-pic{
            .swiper-box{
                width: 98%;
                top:52%;
                padding: 24px 12px 16px;
            }         
        }
    }
}
//main---------------------------------
main{
    position: relative;
    .choose{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 50px;
        .card{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            margin: 16px;
            .pic{
                width: 40px;
                height: 40px;
                background-image: url(../img/section-1-choose/Link-Icon-80x80.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .pic-2{
                background-image: url(../img/section-1-choose/surface-go2-link-list-120x120.jpg);
            }
            .text{
                margin-top: 10px;
                font-weight: bold;
                color: #0067b8;
            }
        }
    }
    @media (max-width:540px) {
        .choose{
            flex-wrap: wrap;
            padding: unset;
            padding-bottom: 16px;
        }

    }
    .news{
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        .card{
            width: calc((100% - 75px) /4);
            height: 550px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .card-pic{
                width: 100%;
                height: 45%;
                background-image: url(../img/section-2-news/主機/gldn-XSX-CP-Xbox-Series-X.webp);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .card-pic-2{
                background-image: url(../img/section-2-news/bing/Content-Card-Bing-AI-No-Text.webp);
            }
            .card-pic-3{
                background-image: url(../img/section-2-news/game/gldn-XGP-Game-Pass-Ultimate-Characters-06102010-1.avif);
            }
            .card-pic-4{
                background-image: url(../img/section-2-news/notebook/gldn-CP-Windows11-GlobalLaunch.avif);
            }
            .card-title{
                margin: 12px 0px;
                font-size: 24px;
                font-weight: bold;
            }
            a{
                margin: 8px 0px;
                color:#0067b8;
                font-weight: bold;
                text-decoration: none;
                i{
                    transform: scaleY(0.7);
                }
            }
            a:hover{
                text-decoration: underline;
                i{
                    transition: .5s;
                    transform: scaleY(0.7) translate(5px,0px);
                }
            }
        }
    }
    @media (max-width:1085px) {
        .news{
            flex-wrap: wrap;
            .card{
                width: calc((100% - 25px) / 2);
            }
        }
    }
    @media (max-width:540px) {
        .news{
            .card{
                height: 420px;
                width: 100%;
                margin-bottom: 48px;
                .card-pic{
                    height: 60%;
                }
            }
        }
    }
    .edge{
        width: 90%;
        max-width: 1680px;
        margin: auto;
        position: relative;
        .edge-pic{
            width: 100%;
            background-image: url(../img/section-3-edge/Edge_VP4-1260x600.avif);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .edge-box{
            width: 400px;
            // height: 260px;
            padding: 50px 50px 20px;
            background-color: #fff;
            position: absolute;
            left:5%;
            top:20%;
            box-shadow: 1px 1px 4px #aaa;
            h2{
                margin: 0;
                font-size: 32px;
                font-weight: 600;
            }
            .btn{
                width: 90px;
                height: 40px;
                font-weight: bold;
                background-color:#0067b8;
                color: #fff;
                text-align: center;
                line-height: 40px;
                margin-top:24px;
                cursor: pointer;
            }
            .btn:hover{
                background-color:darken(#0067b8,5%);
                box-shadow: 0 1px 0px 0 rgba(0,0,0,.5);
            }
        }
    }
    @media (max-width:1085px) {
        .edge{
            width: 98%;
            margin-bottom: 240px;
            .edge-box{
                left:50%;
                top:90%;
                width: 98%;
                height: 40%;
                transform:translateX(-50%);
                padding: 48px;
                h2{
                    font-size: 24px;
                }
                p{
                    margin-top: 12px;
                }
            }
        }
    }
    @media (max-width:860px) {
        .edge{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-bottom: 0px;
            .edge-box{
                position: relative;
                box-shadow: unset;
            }
        }
    }
    .business{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 100px auto 50px;
        h2{
            width: 100%;
            font-size: 30px;
            margin: 0;
            margin-bottom: 16px;
        }
        .card{
            width: calc((100% - 75px) /4);
            height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .card-pic{
                width: 100%;
                height: 45%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .card-pic-1{
                background-image: url(../img/section-4-business/1-surface/gldn-Surf-CP-SurfaceFamilyForBusiness.avif);
            }
            .card-pic-2{
                background-image: url(../img/section-4-business/2-teams/gldn-CP-Microsoft-Teams-Commercial.webp);
            }
            .card-pic-3{
                background-image: url(../img/section-4-business/3-mix/Content-Card-Brand-Hybrid-Work.webp);
            }
            .card-pic-4{
                background-image: url(../img/section-4-business/4-ai/Content-Card-Azure-AI-Bloom.avif);
            }
            .card-title{
                margin: 12px 0px;
                font-size: 24px;
                font-weight: bold;
            }
            a{
                margin: 8px 0px;
                color:#0067b8;
                font-weight: bold;
                text-decoration: none;
                i{
                    transform: scaleY(0.7);
                }
            }
            a:hover{
                text-decoration: underline;
                i{
                    transition: .5s;
                    transform: scaleY(0.7) translate(5px,0px);
                }
            }
        }
    }
    @media (max-width:1085px) {
        .business{
            flex-wrap: wrap;
            h2{
                font-size: 24px;
            }
            .card{
                width: calc((100% - 25px) / 2);
                height: 450px;
                .card-pic{
                    height: 60%;
                }
            }
        }
    }
    @media (max-width:860px) {
        .business{
            margin-top: 0px;
        }
    }
    @media (max-width:540px) {
        .business{
            .card{
                height: 420px;
                width: 100%;
                margin-bottom: 48px;
                .card-pic{
                    height: 60%;
                }
            }
        }
    }
    .contact{
        margin: 50px auto;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        img{
            cursor: pointer;
            margin-left:5px;
        }
    }
    .totop{
        position: sticky;
        width: 120px;
        height: 40px;
        left: 90%;
        bottom: 10px;
        font-weight: bold;
        background-color: #ddd;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        color:#616161;
        z-index: 99;
        cursor:pointer;
        
        span{
            padding-left: 4px;
        }
    }
    .totop:hover{
        background-color: #fff;
        box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
    }
    .totop:active{
        border: 3px dotted #000;
    }
}
//footer---------------------------------
footer{
    margin-top: 40px;
    background-color: #eee;
    .footer-menu{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        .group{
            width: calc(100% / 6);
            height: 100%;
            display:flex;
            flex-direction: column;

            .group-name{
                color:#616161;
                padding: 36px 0px 4px;
                font-size: 15px;
                font-weight: bold;
            }
            li{
                height: 32px;
                padding: 8px 0px;
                list-style: none;
                font-size: 12px;
                a{
                    text-decoration: none;
                    color: #616161;
                }
            }
            li:hover{
                text-decoration: underline;
            }
        }
    }
    @media (max-width:1085px) {
        .footer-menu{
            flex-wrap: wrap;
            .group{
                width:calc(100% / 3);
            }
        }
    }
    @media (max-width:540px) {
        .footer-menu{
            .group{
                width:100%;
            }
        }
    }
    .footer-nav{
        display:flex;
        .footer-l{
            width: 300px;
            height: 40px;
            display:flex;
            align-items: center;
            .lan{
                display: flex;
                i{
                    font-size: 20px;
                    margin-right: 10px;
                }
                a{
                    font-size: 12px;
                    color:#616161;
                    text-decoration: none;
                    margin-right: 24px;
                    cursor: pointer;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
            .privacy{
                display: flex;
                .footer-icon{
                    width: 40px;
                    height: 16px;
                    background-image: url(../img/footer/CCPA.svg);
                    background-size: cover;
                    margin-right: 10px;
                    margin-left: -5px;
                }
                a{
                    font-size: 12px;
                    color:#616161;
                    text-decoration: none;
                    margin-right: 24px;
                    cursor: pointer;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
        .footer-r{
            flex-grow:1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            li{
                list-style: none;
                font-size: 12px;
                color:#616161;
                margin-left: 20px;
                a{
                    color:#616161;
                    text-decoration: none;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    @media (max-width:1085px) {
        .footer-nav{
            flex-direction: column;
            padding: 20px 0px;
            .footer-l{
                flex-direction: column;
                align-items: flex-start;
                .privacy{
                    margin: 10px 0px;
                }
            }
        }
    }
    @media (max-width:720px) {
        .footer-nav{
            .footer-l{
                margin-bottom: 30px;
            }
            .footer-r{
                margin-top: 10px;
                flex-wrap: wrap;
                justify-content: flex-start;
                li{
                    margin-left: 0px;
                    margin-right: 20px;
                }
            }
        }
    }
}